$bg-color: #fff;
$bg-hover: #f9a826;
$bg-start: #60bf88;
$bg-error: #ea8282;

$text-principal: #2f527b;

$border-color: #9094df;

.fancy-progress-bar {
  background: #333f48 !important;
}

p {
  margin: 0;
}
